* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    font-family: sans-serif;
}

:root {
    --darkpurple: rgb(107, 0, 128);

}
button {
    outline: none;
    background-color: white;
    color: var(--darkpurple);
    font-size: 1em;
}