.outer {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/*-------------*/
/*----view high scores section-----------*/
/*-------------*/
#view {
    text-decoration: none;
    color: var(--darkpurple);
}
#view:hover {
    cursor: pointer;
}
/*-------------*/
/*-------timer section------------*/
/*-------------*/
.top-bar p {
    float: right;
}
/*---------inner container--------*/
.inner {
    width: 50%;
    margin: auto;
    background-color: white; /*take away when done*/
    height: 100vh;
    padding-top: 10%; 
}
/*------------------header 1st page-------------*/
.first-window {
    text-align: center;
}
h1, h2{
    color: black;
    font-size: xx-large;
    padding: 5px;
}
.first-window p{
    color: black;
    font-size: large;
    padding: 5px;
}
.first-window button {
    background-color: var(--darkpurple);
    color: white;
    font-size: large;
    padding: 5px;
}
#start:hover {
    cursor: pointer;
}

/*---------------Main quiz content-------------*/
.quiz {
    display: flex;
    flex-direction: column;
}
#answers {
    padding: 2px;
    background-color: var(--darkpurple);
    color: white;
    border-radius: 5px;
}

#answers:hover {
    cursor: pointer;
    filter:brightness(5.00); /*look into later*/
}