.top-bar {
    padding: 8px;
}
/*-------------*/
/*----view high scores section-----------*/
/*-------------*/
#view {
    text-decoration: none;
    color: var(--darkpurple);
}
#view:hover {
    cursor: pointer;
}
/*-------------*/
/*-------timer section------------*/
/*-------------*/
.top-bar p {
    float: right;
}
/*---------inner container--------*/
.inner {
    width: 50%;
    margin: auto;
    background-color: white; /*take away when done*/
    height: 100vh;
    padding-top: 10%; 
}
/*------------------header 1st page-------------*/

.first-window, .quiz {
    text-align: center;
}
h1 {
    color: black;
    font-size: xx-large;
    padding: 5px;
}
.first-window p{
    color: black;
    font-size: large;
    padding: 5px;
}
.first-window button {
    background-color: var(--darkpurple);
    color: white;
    font-size: large;
    padding: 5px;
    border-radius: 5px;
}
#start:hover {
    cursor: pointer;
    opacity: 0.4;
}

/*---------------Main quiz content-------------*/
h2{
    color: black;
    font-size: x-large;
    padding: 5px;
    text-align: left;
}
.container {
    display: flex;
    flex-direction: column;
    align-content: left;
}
.answers {
    padding: 4px;
    background-color: var(--darkpurple);
    color: white;
    border-radius: 5px;
    border: 2px solid white;
}
ul{
    list-style-type: none;
    text-align: left;
}
.answers:hover{
    cursor: pointer;
    opacity: 0.4;
}

.correct {
    font-size: medium;
    color: green;
}

.wrong {
    font-size: medium;
    color: red;
}